@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {font-size: 14pt; padding: 1rem; margin-bottom: 7%; background: #e4e4e4; color: #444444; font-family: Roboto; line-height: 1.4; text-shadow: 0 1px 0 #ffffff;}
.quote-text {text-indent: 3rem;}

.intro-text {
  text-align: justify;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 18pt;
}

#essay-para {
  text-align: justify;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

li {
  text-align: left;
}

img {
  width: 100%;
}

.ty-mw2 {
  width: 275px;
}

figure {
  text-align: center;
}

a {
  font-style: none;
  text-decoration: none;
  color: #3366CC ;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #795CB2;
}

.iframe-style {
  padding-bottom: 2rem;
  width: 425px;
  height: 250px;
}

.center-iframe {
  border-radius: 0.60rem;
}

.center-iframe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 0.60rem;
}

video {
  border-radius: 0.60rem;
}

figcaption {
  font-style: italic;
  font-size: 12pt;
}

.essay-title {
  line-height: 7px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Media query for screens with a width greater than or equal to 768px (adjust the value as needed) */
@media (min-width: 768px) {
  body {
    margin: 0 auto; /* Center the body horizontally */
    max-width: 40%; /* Set the maximum width to 73% */
  }
}