@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {font-size: 16pt; padding: 1rem; margin-bottom: 7%; background: #e4e4e4; color: #444444; font-family: Roboto; line-height: 1.4; text-shadow: 0 1px 0 #ffffff;}
.quote-text {text-indent: 3rem;}

.intro-text {
  text-align: justify;
}

h1 {
  font-size: 22pt;
}

.essay-p {
  text-align: justify;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

li {
  text-align: left;
}

img {
  width: 200px;
  height: 375px;
}

/* Media query for screens with a width greater than or equal to 768px (adjust the value as needed) */
@media (min-width: 768px) {
  body {
    margin: 0 auto; /* Center the body horizontally */
    max-width: 40%; /* Set the maximum width to 73% */
  }
}